/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    macros {
        option_backspace: option_backspace {
            compatible = "zmk,behavior-macro";
            label = "option_backspace";
            #binding-cells = <0>;
	    wait-ms = <10>;
            bindings =
                <&macro_press &kp LEFT_ALT>,
                <&macro_tap &kp BACKSPACE>,
                <&macro_release &kp LEFT_ALT>;
        };
        com_tab: com_tab {
            compatible = "zmk,behavior-macro";
            label = "com_tab";
            #binding-cells = <0>;
	    wait-ms = <10>;
            bindings =
                <&macro_press &kp LEFT_COMMAND>,
                <&macro_tap &kp TAB>,
                <&macro_release &kp LEFT_COMMAND>;
        };
        opt_lctrl: opt_lctrl {
            compatible = "zmk,behavior-macro";
            label = "opt_lctrl";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_CONTROL &kp LEFT_ALT>,
		<&macro_pause_for_release>,
		<&macro_release &kp LEFT_CONTROL &kp LEFT_ALT>;
        };
        opt_com_lctrl: opt_com_lctrl {
            compatible = "zmk,behavior-macro";
            label = "opt_com_lctrl";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp LEFT_COMMAND &kp LEFT_CONTROL>,
		<&macro_pause_for_release>,	
                <&macro_release &kp LEFT_ALT &kp LEFT_COMMAND &kp LEFT_CONTROL>;
        };
        opt_cmd_f: opt_cmd_f {
            compatible = "zmk,behavior-macro";
            label = "opt_cmd_f";
            #binding-cells = <0>;
	    wait-ms = <10>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp LEFT_COMMAND>,
                <&macro_tap &kp F>,
                <&macro_release &kp LEFT_ALT &kp LEFT_COMMAND>;
        };
        opt_com_larrow: opt_com_larrow {
            compatible = "zmk,behavior-macro";
            label = "opt_com_larrow";
            #binding-cells = <0>;
	    wait-ms = <10>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp LEFT_COMMAND>,
                <&macro_tap &kp LEFT_ARROW>,
                <&macro_release &kp LEFT_ALT &kp LEFT_COMMAND>;
        };
        com_enter: com_enter {
            compatible = "zmk,behavior-macro";
            label = "com_enter";
            #binding-cells = <0>;
	    wait-ms = <10>;
            bindings =
                <&macro_press &kp LEFT_COMMAND>,
                <&macro_tap &kp ENTER>,
                <&macro_release &kp LEFT_COMMAND>;
        };
        com_grave: com_grave {
            compatible = "zmk,behavior-macro";
            label = "com_grave";
            #binding-cells = <0>;
	    wait-ms = <10>;
            bindings =
                <&macro_press &kp LEFT_COMMAND>,
                <&macro_tap &kp GRAVE>,
                <&macro_release &kp LEFT_COMMAND>;
        };
        opt_com_rarrow: opt_com_rarrow {
            compatible = "zmk,behavior-macro";
            label = "opt_com_rarrow";
            #binding-cells = <0>;
	    wait-ms = <10>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp LEFT_COMMAND>,
                <&macro_tap &kp RIGHT_ARROW>,
                <&macro_release &kp LEFT_ALT &kp LEFT_COMMAND>;
        };
        mc_1: mc_1 {
            compatible = "zmk,behavior-macro";
            label = "mc_1";
            #binding-cells = <0>;
	    wait-ms = <10>;
            bindings =
                <&macro_press &kp LEFT_CONTROL &kp LEFT_ALT &kp LEFT_COMMAND &kp LSHIFT>,
                <&macro_tap &kp F1>,
                <&macro_release &kp LEFT_CONTROL &kp LEFT_ALT &kp LEFT_COMMAND &kp LSHIFT>;
        };
	mc_2: mc_2 {
            compatible = "zmk,behavior-macro";
            label = "mc_2";
            #binding-cells = <0>;
	    wait-ms = <10>;
            bindings =
                <&macro_press &kp LEFT_CONTROL &kp LEFT_ALT &kp LEFT_COMMAND &kp LSHIFT>,
                <&macro_tap &kp F2>,
                <&macro_release &kp LEFT_CONTROL &kp LEFT_ALT &kp LEFT_COMMAND &kp LSHIFT>;
        };
	mc_3: mc_3 {
            compatible = "zmk,behavior-macro";
            label = "mc_3";
            #binding-cells = <0>;
	    wait-ms = <10>;
            bindings =
                <&macro_press &kp LEFT_CONTROL &kp LEFT_ALT &kp LEFT_COMMAND &kp LSHIFT>,
                <&macro_tap &kp F3>,
                <&macro_release &kp LEFT_CONTROL &kp LEFT_ALT &kp LEFT_COMMAND &kp LSHIFT>;
        };
	mc_4: mc_4 {
            compatible = "zmk,behavior-macro";
            label = "mc_4";
            #binding-cells = <0>;
	    wait-ms = <10>;
            bindings =
                <&macro_press &kp LEFT_CONTROL &kp LEFT_ALT &kp LEFT_COMMAND &kp LSHIFT>,
                <&macro_tap &kp F4>,
                <&macro_release &kp LEFT_CONTROL &kp LEFT_ALT &kp LEFT_COMMAND &kp LSHIFT>;
        };	
    };

    combos {
        compatible = "zmk,combos";

        escape {
            bindings = <&kp ESC>;
            key-positions = <19 20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
  &none   &kp Q   &kp W           &kp E        &kp R   &kp T  &kp Y            &kp U       &kp I            &kp O   &kp P            &none
  &none   &kp A   &kp S           &kp D        &kp F   &kp G  &kp H            &kp J       &kp K            &kp L   &kp SINGLE_QUOTE &none
  &none   &kp Z   &kp X           &kp C        &kp V   &kp B  &kp N            &kp M       &kp COMMA        &kp DOT &kp TAB          &none
                         &kp LEFT_SHIFT  &lt 1 ENTER   &mo 4  &kp LEFT_CONTROL &lt 2 SPACE &kp LEFT_COMMAND
            >;
        };

        lower_layer {
            bindings = <
  &none      &kp CARET        &kp none          &kp none    &kp DOLLAR   &none  &kp BACKSPACE &kp NUMBER_7 &kp N8        &kp N9       &none     &none
  &none      &kp COLON       &kp MINUS          &kp PLUS     &kp SPACE   &none  &kp SPACE     &kp NUMBER_4 &kp NUMBER_5  &kp NUMBER_6 &kp DOT   &none
  &none  &kp SEMICOLON  &kp UNDERSCORE         &kp EQUAL  &kp ASTERISK   &none  &kp NUMBER_0  &kp NUMBER_1 &kp NUMBER_2  &kp NUMBER_3 &kp COMMA &none
                                                  &trans        &trans  &trans  &trans        &mo 3        &trans
            >;
        };

        raise_layer {
            bindings = <
 &trans     &none       &kp PIPE   &kp PERCENT      &none      &kp CAPSLOCK &kp TILDE         &kp BACKSLASH    &kp SLASH         &kp LEFT_BRACE        &kp RIGHT_BRACE       &trans
 &trans    &kp AT   &kp LEFT_ALT      &kp EXCL  &kp SPACE        &caps_word &option_backspace &kp BACKSPACE    &kp DELETE        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS &trans
 &trans  &kp HASH  &kp AMPERSAND  &kp QUESTION      &none  &kp LEFT_COMMAND &kp GRAVE         &kp none         &kp none          &kp LEFT_BRACKET      &kp RIGHT_BRACKET     &trans
                                        &trans      &mo 3            &trans &trans            &trans           &trans
            >;
        };

        Nav {
            bindings = <
  &none         &com_tab  &kp LEFT_CONTROL      &opt_lctrl    &opt_com_lctrl  &opt_cmd_f        &kp HOME   &kp PAGE_DOWN   &kp PAGE_UP          &kp END       &com_grave   &none
  &none  &opt_com_larrow      &kp LEFT_ALT  &kp LEFT_SHIFT  &kp LEFT_COMMAND  &com_enter  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &opt_com_rarrow   &none
  &none            &none             &none           &none             &none     &kp TAB       &kp SPACE           &mc_1        &mc_2		  &mc_3            &mc_4   &none
                                                    &trans            &trans      &trans          &trans          &trans        &trans
            >;
        };

        Extra {
            bindings = <
  &none      &kp F1      &kp F2  &kp F3  &kp F4             &kp F5 &kp F6     &kp F7     &kp F8      &kp F9   &kp F10   &none
  &none  &kp C_PLAY  &kp C_MUTE   &none   &none       &kp C_VOL_UP &bt BT_CLR &bt BT_NXT &none        &none     &none   &none
  &none       &none       &none   &none   &none  &kp C_VOLUME_DOWN &none      &none      &none        &none     &none   &none
                                 &trans  &trans             &trans &trans     &trans     &trans
            >;
        };
    };
};
